# top-most EditorConfig file
root = true

[*.md]
trim_trailing_whitespace = false

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true

[*.js]
indent_style = space
indent_size = 2

[*.json]
indent_style = space
indent_size = 2
